{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/png" href="{% static 'icons/faviconXroutS.png' %}">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">


</head>

<header>
    {% include 'base/partial/nav.html' %}
</header>
<div class="img"
     style="background-color: #f1f1f1">
    <body id="bg">

    {#{% if request.user.is_authenticated %}#}
    {#    <div><a href="{% url 'logout_user' %}" class="btn btn-primary">Logout</a></div>#}
    {#{% else %}#}
    {#    <div><a href="{% url 'login_user' %}" class="btn btn-primary">Login</a>x</div>#}
    {##}
    {#    <div><a href="{% url 'register_user' %}" class="btn btn-primary">Register</a></div>#}
    {#{% endif %}#}
    <main>
        {% block content %}

        {% endblock %}
    </main>
    </body>
</div>
</html>