{% extends 'base/base.html' %}
{% load static %}
{% block title %}Activity Feed{% endblock %}
{% block content %}
    <div class="container1">

        <h1 style="display: grid;justify-content: center">Activities</h1>
        <ul>
            {% for combined_activity in all_activities %}

                <li>
                    <div class="activity-main">
                        <div class="activity">
                            <div class="top">
                                <div class="profile-icon">
                                    {% if user_picture %}
                                        <img src="{{ user_picture.url }}" alt="Profile Photo">
                                    {% else %}
                                        <img src="{% static 'images/6859343.png' %}" alt="Profile Photo">
                                    {% endif %}
                                </div>
                                <div class="name-time">
                                    <div>{{ user_full_name }}</div>
                                    <div>{{ combined_activity.timestamp }}</div>
                                </div>
                            </div>
                            <h2 id="title">{{ combined_activity.title }}</h2>

                            {% if combined_activity.activity_type == 'Running' %}




                                <div class="stat">

                                    <div class="each">
                                        <div>Distance</div>
                                        <h5>{{ combined_activity.distance }} km</h5>
                                    </div>
                                    <div class="each">
                                        <div>Pace:</div>
                                        <h5>{{ combined_activity.pace }} min/km</h5>
                                    </div>
                                    <div class="each">
                                        <div>Time:</div>
                                        <h5>{{ combined_activity.duration }}</h5>
                                    </div>
                                </div>
                            {% elif combined_activity.activity_type == 'Cycling' %}




                                <div class="stat">

                                    <div class="each">
                                        <div>Distance</div>
                                        <h5>{{ combined_activity.distance }} km</h5>
                                    </div>
                                    <div class="each">
                                        <div>Speed:</div>
                                        <h5>{{ combined_activity.avg_speed }}km/h</h5>
                                    </div>
                                    <div class="each">
                                        <div>Time:</div>
                                        <h5>{{ combined_activity.duration }}</h5>
                                    </div>
                                </div>

                            {% elif combined_activity.activity_type == 'Swimming' %}
                                <div class="stat">

                                    <div class="each">
                                        <div>Distance</div>
                                        <h5>{{ combined_activity.distance }} m</h5>
                                    </div>
                                    <div class="each">
                                        <div>Pool lenght:</div>
                                        <h5>{{ combined_activity.pool_length }} m</h5>
                                    </div>
                                    <div class="each">
                                        <div>Laps:</div>
                                        <h5>{{ combined_activity.laps }}</h5>
                                    </div>
                                </div>

                            {% endif %}
                            {% if combined_activity.picture %}
                                <img class="activity-image" src="{{ combined_activity.picture.url }}" alt="">
                            {% endif %}
                            <a class="edit-delete" style="font-size:20px;
    color: darkslateblue;
    padding: 3px;
    margin: 3px;" href="{% url 'delete_activity' combined_activity.activity_type combined_activity.id %}"
                               onclick="return confirm('Are you sure you want to delete this activty?');"><i
                                    class="fa fa-trash" aria-hidden="true"></i></a>
                            <a class="edit-delete" style="font-size:20px;
    color: darkslateblue;
    padding: 3px;
    margin: 3px;"
                               href="{% url 'edit_activity' combined_activity.activity_type combined_activity.id %}"><i
                                    class="fas fa-edit"></i></a>
                        </div>
                    </div>

                </li>

            {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}