{% load static %}


<div class="container1">

    <h1 style="display: grid;justify-content: center">Activities</h1>
    <ul>
        {% for combined_activity in all_activities %}

            <li>
                <div class="activity-main">
                    <div class="activity">
                        <div class="sup-top" style="display: flex;justify-content: space-between">
                            <div class="top">
                                <div class="profile-icon" style="margin-left:  10px;margin-top: 10px">
                                    {% if user_picture %}
                                        <a href="{% url 'profile_details' athlete_slug=user.userprofile.slug %}"><img
                                                src="{{ user_picture.url }}" alt="Profile Photo"></a>
                                    {% else %}
                                        <a href="{% url 'profile_details' athlete_slug=user.userprofile.slug %}"><img
                                                src="{% static 'images/6859343.png' %}" alt="Profile Photo"></a>
                                    {% endif %}
                                </div>
                                <div class="name-time" style="margin-left: 10px; margin-top: 10px">
                                    <div>{{ user_full_name }}</div>
                                    <div style="color: darkslategray; font-size: 12px">{{ combined_activity.timestamp }}</div>
                                </div>
                            </div>
                            <div class="edit-delete-div"><a class="edit-delete" style="font-size:20px;
    color: darkslateblue;
    padding: 3px;
    margin: 3px;" href="{% url 'delete_activity' combined_activity.activity_type combined_activity.id %}"
                                    onclick="return confirm('Are you sure you want to delete this activty?');"><i
                                    class="fa fa-trash" aria-hidden="true"></i></a>
                                <a class="edit-delete" style="font-size:20px;
    color: darkslateblue;
    padding: 3px;
    margin: 3px;"
                                   href="{% url 'edit_activity' combined_activity.activity_type combined_activity.id %}"><i
                                        class="fas fa-edit"></i></a></div>
                        </div>
                        <h2 id="title">{{ combined_activity.title }}</h2>

                        {% if combined_activity.activity_type == 'Running' %}

                            <div><img src="{% static 'images/shoe.png' %}"style="height: 30px; margin-top: -80px; margin-left: 20px" alt=""></div>


                            <div class="stat">

                                <div class="each">
                                    <div class="each-title">Distance</div>
                                    <h5>{{ combined_activity.distance }} km</h5>
                                </div>
                                <div class="each">
                                    <div class="each-title">Pace:</div>
                                    <h5>{{ combined_activity.pace }} min/km</h5>
                                </div>
                                <div class="each">
                                    <div class="each-title">Time:</div>
                                    <h5>{{ combined_activity.duration }}</h5>
                                </div>
                            </div>
                        {% elif combined_activity.activity_type == 'Cycling' %}

                             <div><img src="{% static 'images/bycicle.png' %}"style="height: 30px; margin-top: -80px; margin-left: 20px" alt=""></div>

                            <div class="road" style="margin: -35px 0 20px 15px;">Location : {{ combined_activity.route }}</div>



                            <div class="stat">

                                <div class="each">
                                    <div class="each-title">Distance</div>
                                    <h5>{{ combined_activity.distance }} km</h5>
                                </div>
                                <div class="each">
                                    <div class="each-title">Speed:</div>
                                    <h5>{{ combined_activity.avg_speed }}km/h</h5>
                                </div>
                                <div class="each">
                                    <div class="each-title">Time:</div>
                                    <h5>{{ combined_activity.duration }}</h5>
                                </div>

                            </div>

                        {% elif combined_activity.activity_type == 'Swimming' %}
                            <div><img src="{% static 'images/shoe.png' %}"style="height: 30px; margin-top: -80px; margin-left: 20px" alt=""></div>
                            <div class="stat">

                                <div class="each">
                                    <div class="each-title">Distance</div>
                                    <h5>{{ combined_activity.distance }} m</h5>
                                </div>
                                <div class="each">
                                    <div class="each-title">Pool lenght:</div>
                                    <h5>{{ combined_activity.pool_length }} m</h5>
                                </div>
                                <div class="each">
                                    <div class="each-title">Laps:</div>
                                    <h5>{{ combined_activity.laps }}</h5>
                                </div>
                            </div>

                        {% endif %}
                        {% if combined_activity.picture %}
                            <img class="activity-image" src="{{ combined_activity.picture.url }}" alt="">
                        {% endif %}
                        {% if user.is_authenticated %}
                            {% if request.user in combined_activity.likes.all %}
                                <a href="{% url 'like_activity' combined_activity.get_activity_type|lower combined_activity.pk %}">
                                    <i class="far fa-thumbs-up liked"></i>
                                </a>
                            {% else %}
                                <a href="{% url 'like_activity' combined_activity.get_activity_type|lower combined_activity.pk %}">
                                    <i class="far fa-thumbs-up"></i>
                                </a>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>

            </li>

        {% endfor %}
    </ul>
</div>
