{% load static %}
<footer>
    <div style="background: darkslategray; height: 100px; display: flex; align-items: center;justify-content: center ">
        <div style="width: 200px"><img style="width: 15vw; margin-left:  5%"
                                       src="{% static 'images/picturetopeople.org-dc5818d9ac43ac1f03975b9262d5dd9507bc3398ae4e03bd96.png' %}"
                                       alt=""></div>
        <div class="footer-icons" style="display: flex; justify-content: space-evenly; width: 200px"><a href="https://www.linkedin.com/in/aleksandar-martinov-b6a210129/"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/Batsukey"><i class="fa-brands fa-github"></i></a>
        <a href=""><i class="fas fa-info-circle"></i></a>

            </div>
    </div>

</footer>